.ui_main.theme-light {
    --border: #aaa;
    --back: #fff;
    --mid: #ccc;
    --tab: #f0f0f0;
    --font: #000;
    --font-mid: #555;
    --thumb: var(--back);
}

.ui_main.theme-dark {
    --border: #484d53;
    --back: rgb(30, 35, 42);
    --mid: #22272E;
    --tab: #2D333B;
    --font: #ccc;
    --font-mid: #999;
    --thumb: var(--font-mid);
}

.ui_main {
    background-color: var(--mid);
    text-align: left;
    font: 13px sans-serif;
    user-select: none;
    border: none;
    border-radius: 6px;
}

.ui_main.noback {
    background: none;
}

.ui_main.noback .ui_container {
    border: 1px solid var(--mid);
    margin: 4px 0;
}

.ui_main.noback .ui_title_bar {
    background: none;
    padding: 0;
}

.ui_main.noback .ui_button_cont {
    margin: 5px 0;
}

.ui_content {
    overflow-y: auto;
    border-radius: 6px;
}

.ui_title_bar {
    text-align: center;
    padding: 4px;
    font-weight: bold;
    border: none;
    background: var(--tab);
    color: var(--font);
    font-size: 15px;
    border-radius: 5px 5px 0 0;
}

.ui_container {
    margin: 5px;
    padding: 6px;
    border: none;
    position: relative;
    background: var(--tab);
    color: var(--font);
    border-radius: 5px;
}

.ui_range_cont {
    display: flex;
    align-items: center;
    padding: 8px 0 6px 0;
}

.ui_range {
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    background: var(--border);
    cursor: pointer;
    touch-action: none;
}

.ui_range::-webkit-slider-thumb {
    appearance: none;
    background: var(--thumb);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 4px #0000005a;
}

.ui_range::-moz-range-thumb {
    border: none;
    background: var(--thumb);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.ui_button_cont {
    margin: 5px;
    gap: 5px;
    display: flex;
}

.ui_button {
    cursor: pointer;
    background: var(--tab);
    color: var(--font-mid);
    height: 26px;
    border: 1px solid var(--mid);
    border-radius: 4px;
    width: 100%;
}

.ui_button:hover {
    filter: brightness(0.96);
}

.ui_button:active {
    background: var(--back);
}

.ui_checkbox_cont {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui_checkbox_cont label {
    font-weight: bold;
    pointer-events: none;
}

.ui_checkbox {
    display: inline-block;
}

.ui_checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.ui_checkbox input {
    display: none;
}

.ui_checkbox span {
    width: 18px;
    height: 18px;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--back);
    position: relative;
}

.ui_checkbox input:checked+span::after {
    content: "✓";
    position: absolute;
    left: 3px;
    top: -2px;
    font-size: 16px;
    color: var(--font);
    font-weight: bold;
}

.ui_label {
    margin-bottom: 3px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.ui_text_input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 24px;
    line-height: 24px;
    border: 1px solid var(--border);
    background: var(--back);
    color: var(--font-mid);
    outline: none;
    border-radius: 4px;
}

.ui_select {
    background: var(--back);
    color: var(--font-mid);
    width: 100%;
    height: 24px;
    border: 1px solid var(--border);
    border-radius: 0;
    padding: 0 2px;
    cursor: pointer;
    border-radius: 4px;
}

.ui_textarea {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    padding: 3px 5px;
    border: 1px solid var(--border);
    background: var(--back);
    color: var(--font-mid);
    outline: none;
    border-radius: 4px;
}

.ui_textarea::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.ui_textarea::-webkit-scrollbar-track {
    background: none;
}

.ui_textarea::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
}

.ui_color_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui_color_cont .ui_label {
    margin: 0;
}

.ui_color {
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    height: 22px;
    width: 22px;
}

.ui_file_chooser {
    display: none;
}

.ui_file_chooser_label {
    background: var(--back);
    color: var(--font-mid);
    height: 24px;
    border: 1px solid var(--border);
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
}

.ui_file_chooser_label.active {
    border-width: 2px;
}